---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CAM - About" currentPage="About">
  <div class="flex items-center justify-center min-h-screen">
    <h1 class="text-6xl font-bold" data-translate="page.about">About</h1>
  </div>
</Layout>
