---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CAM - Contact" currentPage="Contact">
  <div class="flex items-center justify-center min-h-screen">
    <h1 class="text-6xl font-bold" data-translate="page.contact">Contact</h1>
  </div>
</Layout>
