---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CAM - Vidéos" currentPage="Vidéos">
  <div class="flex items-center justify-center min-h-screen">
    <h1 class="text-6xl font-bold" data-translate="page.videos">Vidéos</h1>
  </div>
</Layout>
